<%- include('layouts/header') %>
    <h2 class="my-4">JavaScript</h2>
    <a class="btn btn-secondary" href="/course">Back</a>
    <a class="btn btn-primary" href="/edit">Save</a>
    <form action="" class="my-4">
      <div class="mb-3">
        <label for="title" class="form-label">Course title</label>
        <input type="text" class="form-control" id="title" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Course description</label>
        <textarea class="form-control" id="description"></textarea>
      </div>
    </form>
<%- include('layouts/footer') %>
